<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
</head>
<body>
<div id="headerWrap" style="position: relative;">

	<h1><a href="http://localhost:8680/Proj_First/jsp/index.jsp" style="color: white;"><span style="font-size: 80px;">S</span>TFP</a></h1>
	
	
	<div style="position: absolute; right: 5px; bottom: 70px;height: 20px;"><span style="color:white;">Second Team First Project</span></div>
</div>
</body>
</html>